/* Flex item */
h1 {
  text-align: center;
}
.container {
  max-width: 360px;
  margin: 0 auto;
  border: 1px solid #ccc;
  display: flex;
}
.item {
  flex: 1;
  margin: 5px;
  background-color: tomato;
  text-align: center;
  font-size: 1.5rem;
}
.nowrap {
  flex-wrap: nowrap;
}
.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}
